<div class="login-container">
  <div class="login-box">
    <h2>Welcome Back</h2>
    <p>Please enter your credentials to login</p>
    <form>
      <div class="form-group">
        <label for="email"> <b>Email</b></label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password"> <b>Password</b></label>

        <input
          type="password"
          id="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <button type="submit" class="btn-login">Login</button>
      <div class="links">
        <a href="#" class="forgot-password">Forgot Password?</a>
        <span class="signup-line"
          >Don't have an account? <a href="#">Sign up</a></span
        >
      </div>
    </form>
  </div>
</div>
