.profile-container {
 // max-width: 700px;
  width: 90%; /* responsive */
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box; /* ensures full width including padding */
}

button {
  margin-top: -6px;
  padding: 6px 12px;
  border: none;
  color: black;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

.save-btn {
  display: block;
  margin-top: 20px;
  background: black;
  color: white;
}

/* FormArray items (Education / Experience / Skills) */
.section div[formArrayName] > div {
  display: flex;
  align-items: center;
  gap: 10px; /* space between input and button */
  margin-bottom: 6px;
}

.section div[formArrayName] input {
  flex: 1; /* input stretches to occupy remaining space */
}

.section div[formArrayName] button {
  flex-shrink: 0; /* button keeps its size */
}
