<div class="container">
  <div class="image-container">
    <img
      src="https://media.canva.com/v2/image-resize/format:JPG/height:310/quality:92/uri:ifs%3A%2F%2FM%2F6d66fd7ea07145b2a934d99294900956/watermark:F/width:550?csig=AAAAAAAAAAAAAAAAAAAAALj5FLoqxfPf-SL5snxPyFf5y-U31_PDl_fXOYnD5KlQ&exp=1756061197&osig=AAAAAAAAAAAAAAAAAAAAAH3L0oni5LRE5cPFPllH0T93hVVM-xxPGHNs7Pga4aaJ&signer=media-rpc&x-canva-quality=thumbnail_large"
      alt="CareerConnect"
      class="home-image"
    />
  </div>
  <div class="home-page-content">
    <h1>Bridging Talent and Opportunity</h1>
    <h3>Welcome to CareerConnect!</h3>
    <p>
      Your one-stop destination for seamless job searching and recruitment.
      <!-- Whether you're a job seeker looking for your dream role or a recruiter
      seeking the perfect candidate, CareerConnect is here to empower your
      journey. -->
    </p>
    <br />
    <div class="home-actions">
      <div class="action">
        Search For a Job
        <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <div class="action">
        Find a person you may know <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <div class="action">
        Hire a person <i class="fa-solid fa-arrow-right-long"></i>
      </div>
    </div>
  </div>
</div>

<app-about-page></app-about-page>
<app-platform-stats></app-platform-stats>
<!-- <app-newsletter-signup></app-newsletter-signup> -->
<app-contact-page></app-contact-page>
<app-testinomials></app-testinomials>
