<div class="container">
    <div class="image-container">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/c44c1690013661.5e0a009911e87.gif"
        alt="CareerConnect"
      />
    </div>
    <div class="home-page-content">
      <h1>Bridging Talent and Opportunity</h1>
      <h3>Welcome to CareerConnect!</h3>
      <p>
        Your one-stop destination for seamless job searching and recruitment.
        Whether you're a job seeker looking for your dream role or a recruiter
        seeking the perfect candidate, CareerConnect is here to empower your
        journey.
      </p>
    </div>
  </div>