<div class="contact-container">
  <div class="form-section">
    <h2>Contact Us</h2>
    <form>
      <div class="form-group">
        <input type="text" placeholder="Enter your Name" required />
      </div>
      <div class="form-group">
        <input
          type="email"
          placeholder="Enter a valid email address"
          required
        />
      </div>
      <div class="form-group">
        <textarea placeholder="Enter your message" rows="4" required></textarea>
      </div>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <div class="info-section">
    <h2>Want to get in touch with our team?</h2>
    <p>
      If you have any queries, comments or ideas we can be reached by phone, or
      mail.
    </p>
    <p>
      <i class="fa-solid fa-envelope"></i>
      <a href="example@gmail.com"> example&#64;gmail.com</a>
    </p>
    <p><i class="fa-solid fa-phone"></i> +91-10005 10006</p>
    <p>
      <i class="fa-solid fa-location-dot"></i> Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Est repellendus atque eveniet dolorem
      voluptatem illum impedit ad! Quos corporis minus expedita porro, ratione
      sequi, vitae deleniti magni iste officia maiores?
    </p>

    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
